%table
  %tr
    %th
    - @records.each_key do |distance|
      %th #{format_distance distance}
  - @topten.each_with_index do |topten_place, i|
    %tr
      %td #{i+1}.    
      - topten_place.each_value do |place|
        %td
          - unless place[:record].nil?
            %a{:href => place[:activity].activity}= format_duration place[:record][:time]
          - else
            x
