!!!
%html
  %head
    %title RecordBreakr
    %link{"rel" => "stylesheet", "href" => "ui.css", "type" => "text/css"}
  %body
    .status
      %progress#statusbar{:value => "", :max => ""}
    %table.topten
      %tr
        %th
        - @records.each_key do |distance|
          %th #{format_distance distance}
      - @topten.each_with_index do |topten_place, i|
        %tr
          %td #{i+1}.    
          - topten_place.each_value do |place|
            %td
              - if not place[:record].nil? and not place[:record][:time].nil?
                %a{:href => @urls[place[:activity]]}= format_duration place[:record][:time]

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:src => "ui.js"}
      
