$header-color: #872355;
$cell-text-color: #D7D8F2;

h2 {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.25s, 0.25s;
  -webkit-transition-property: color, border-color;
  -webkit-transition-timing-function: linear, linear;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  color: $header-color;
  cursor: auto;
  display: inline;
  font-family: ChunkFiveRegular, sans-serif;
  font-size: 32px;
  font-weight: normal;
  height: auto;
  letter-spacing: 1px;
  line-height: 39px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: none;
  min-height: 0px;
  overflow-y: visible;
  text-decoration: none;
  text-shadow: #FCF9EE 0px 2px 0px, rgba(0, 0, 0, 0.148438) 0px 4px 0px;
  width: auto;
}

#content {
  align: center;
  margin-left: auto ;
  margin-right: auto ;
  width: 100%;
}

table.topten, #daystats-container {
  margin-left:auto;
  margin-right:auto;
  border-spacing: 10px;
  display: table;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: table-row;
  width: 100%;
}

.cell {
  display: table-cell;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 5em;
  .day-record {
    color: $cell-text-color;
  }
  .day-item {
    color: $cell-text-color;
  }
}

.status {
  display: none;
}

th, .header {
  font-weight: bold;
}

body{
  font-size:14px;
  color:#AAA;
  background:#111 no-repeat;

/* CSS3 Radial Gradients */
  background-image:-moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px);
  background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));

  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

#navigationMenu li{
  list-style:none;
  height:39px;
  padding:2px;
  width:40px;
}

#navigationMenu span{
/* Container properties */
  width:0;
  left:38px;
  padding:0;
  position:absolute;
  overflow:hidden;

/* Text properties */
  font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.6px;
  white-space:nowrap;
  line-height:39px;

/* CSS3 Transition: */
  -webkit-transition: 0.25s;

/* Future proofing (these do not work yet): */
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#navigationMenu a{
  background:url('/navigation.jpg') no-repeat;

  height:39px;
  width:38px;
  display:block;
  position:relative;
}

/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
  text-decoration:none;

/* CSS outer glow with the box-shadow property */
  -moz-box-shadow:0 0 5px $cell-text-color;
  -webkit-box-shadow:0 0 5px $cell-text-color;
  box-shadow:0 0 5px $cell-text-color;
}

/* Green Button */

#navigationMenu .home {background-position:0 0;}
#navigationMenu .home:hover {background-position:0 -39px;}
#navigationMenu .home span{
  background-color:#7da315;
  color:#3d4f0c;
  text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
  background-color:#1e8bb4;
  color:#223a44;
  text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
  background-color:#c86c1f;
  color:#5a3517;
  text-shadow:1px 1px 0 #d28344;
}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
  background-color:#d0a525;
  color:#604e18;
  text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
  background-color:#af1e83;
  color:#460f35;
  text-shadow:1px 1px 0 #d244a6;
}

/* The styles below are only needed for the demo page */

#main{
  margin:80px auto;
  position:relative;
  width:40px;
}

a, a:visited,a:active {
  color: $cell-text-color;
  text-decoration:none;
  outline:none;
}

a:hover{
  text-decoration:underline;
}

a img{
  border:none;
}

p.note{
  color:#707070;
  font-size:10px;
  text-align:center;
  margin:50px;
}
